@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
    max-width: 100% !important;
    overflow-x: hidden;
    overflow-y: auto;
    background: #060D20;
}

.container {
    max-width: 85%;
    margin: 0 auto;
}

section {
    padding: 50px 0;
}

.navbar-brand{
    color: #fff;
    font-weight: 700;
    font-size: 25px;
}

.buy-sell-btn{
    padding: 0.5em 2em;
    background: transparent;
    color: #fff;
    border: 2px solid #007bff;
    outline: unset;
    border-radius: 20px;
    transition: 0.7s;
}

.buy-sell-btn:hover{
    background: #007bff;
}

main {
    background: #060D20;
    color: #fff;
}

.main-link{
    font-size: 20px;
    color: #fff;
    border-bottom: 2px solid #fff;
    padding: 0.5em 0;
}

.feature-list{
    background: url(../Home/img/bg-screen.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1em;
    border-radius: 10px;
}

.feature-list > h1 {
    font-size: 20px;
    font-weight: 600;
}

.feature-list > p {
    font-size: 14px;
}

.about-head{
    font-size: 60px;
    font-weight: 700;
}

.strokeme {
    color: #060D20;
    background-color: #060D20;
    text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
  }

.mission-para{
    font-size: 20px;
}

.mission-btn{
    border-radius: 50px;
    padding: 0.8em 3em;
}

.buy-item{
    height: 80px;
    background: #007bff;
    border-radius: 10px;
    margin-top: 30px;
}